doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
		title Healthy egotism
		link(rel='stylesheet', type='text/css', href='css/lib/reveal.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(src='js/bundle.js', defer)

	body
		div.reveal
			div.slides
				section
					h1 Healthy egotism
					h2 Soledad Penadés
					h3 @supersole

				section(data-background='data/imgs/photo.jpg')
					h2 I work at Mozilla

				section(data-background='data/imgs/misery.jpg')
					h2 Based in sunny London
				
				section
					h3 You might have seen<br />some of my talks before...

				section
					h3 "exciting cool interesting<br />webby experiments"

				section(data-background='data/imgs/4x4.png')
					h3 Web Audio + Web Components + WebGL<br />+ OSC + node
				
				section(data-background-video='data/imgs/humacchina.mp4')
					h3 Web Audio + OSC + node =<br />musical instrument
	
				section(data-background='data/imgs/audiotags.png')
					h3 Web Audio + Web Components =<br/>Audio Tags

				section
					h2 This was in addition to my actual job

				section
					h2 Apps Engineer
					ul
						li.fragment What can I not build in the web?
						li.fragment Find work arounds
						li.fragment Nag people
						li.fragment Look at workflows
						li.fragment App writing
				
				section(data-background='data/imgs/webide.png')

				section
					h2 This was a lot of work
	
				section(data-background='data/imgs/github.png')

				section
					h2 Hi, impostor syndrome

				section
					h2 Am I doing enough?


				section
					h2 Why am I invited to speak?
					h3.fragment Is it because you want to listen to me or because I'm not a white man?

				section
					h2 Losing enthusiasm in building cool things
					h3.fragment (or building anything at all)

				section
					h2 "Maybe this isn't for me"

				section
					h2 "Everything sucks"

				section
					h2 It wasn't "if", but "when"<br />would I crash

				section
					h3 It happened in December.

				
				section(data-background='data/imgs/portland.jpg')
					h2 Portland
					ul
						li.fragment London-Vancouver
						li.fragment Vancouver-Portland
						li.fragment Approximately forever

				section
					h3 It was also super cold
					h2.fragment Sick on the second day

					ul
						li.fragment Stayed in the hotel
						li.fragment Curled in bed
						li.fragment Cancelled important meeting
						li.fragment I couldn't care less about it

				section
					h3 Started to feel better at midday
					h2.fragment "Why am I not doing something productive?"

				section
					h3 Spending time in meetings
					h2.fragment worrying about<br />tissue paper

				section(data-background='data/imgs/flatwhite.jpg')
					h3 I didn't even attend the closing party

				section(data-background='data/imgs/london.jpg')
					h3 "Everything will be OK<br />when I'm back to London"

				section
					h2 I couldn't have been<br /><strong>more wrong</strong>

				section
					h3 Sick for three weeks
					h2.fragment Christmas peak

				section
					h2 My mum did
					h3 two things I should have done
					ol
						li.fragment Get seriously worried
						li.fragment Take care of me

				section
					h2 I didn't get out<br />for two days
					h3.fragment Longing for fresh air and exercise

				section
					h3 I took it easy

				section(data-background='data/imgs/walk1.jpg')

				section(data-background='data/imgs/walk2.jpg')
	
				section(data-background='data/imgs/walk3.jpg')

				section
					h2 Fallow
					p.fragment
						i ... the stage of crop rotation in which the land is deliberately not used to raise a crop, or planted with a cover crop to restore soil fertility. This is done to improve soil chemistry, and increase biodiversity...

				section
					h2 Crop rotation
					p.fragment
						i the practice of growing a series of dissimilar/different types of crops in the same area in sequenced seasons. It helps increasing soil fertility and crop yield, reducing soil erosion by improving soil structure, and mitigating pathogen and pest build up

				section
					h2 Polyculture
					p.fragment
						i Crop rotation is a component of polyculture, which is agriculture using multiple crops in the same space, in imitation of the diversity of natural ecosystems, and avoiding large stands of single crops, or monoculture.
					p.fragment
						i It is the raising at the same time and place of more than one species of plant or animal, which helps reduce the susceptibility to disease, and increase local diversity.
					p.fragment
						i Polyculture is one of the principles of permaculture.

				section
					h2 Permaculture
					p.fragment
						i a system of agricultural and social design principles centered around simulating or directly utilizing the patterns and features observed in natural ecosystems
					p.fragment
						i The word originally referred to "permanent agriculture", but was expanded to stand also for "permanent culture", as it was seen that social aspects were integral to a truly sustainable system.

				section
					h2 Permaculture
					p.fragment
						i Some of its principles are to "work with" nature, and not against it. It looks at plants and animals in all their functions, and seeks to return surplus back into the system, and minimise waste and human labor while at the same time maximise the benefit to the environment.
					p.fragment
						i In short: the whole is greater than the sum of the parts

				section
					h2 "the whole is greater than the sum of the parts"
					h3.fragment I had heard this before!

				section(data-background='data/imgs/lena.png')
					h2 "This is bigger than us"
					h3 Lena Reinhard, JSConf.eu 2014

				section
					h3 Parallels and connections
					ul
						li.fragment fertile soil <span class="fragment">&rarr; creative brains</span>
						li.fragment crop yield <span class="fragment">&rarr; generated ideas, solved problems</span>
						li.fragment pathogen mitigation &amp; pest build up reduction <span class="fragment">&rarr; self regulating, self healing community</span>
						li.fragment crop rotation <span class="fragment">&rarr; no single contributor + peer review</span>
						li.fragment reduce susceptibility to disease <span class="fragment">&rarr; better software, better culture</span>
						li.fragment diversity of natural ecosystems <span class="fragment">&rarr; diversity in the workplace and communities</span>
						li.fragment social aspects integral to a truly sustainable system <span class="fragment">&rarr; software doesn't happen in a vacuum</span>
						li.fragment minimise waste and human labour <span class="fragment">&rarr; write less code and reuse more, but also burn out less people</span>

				section
					h1 mind. blown.
					
				section
					h3 end of the year
					h2.fragment mind in<br />'goal setting' mode

				section
					h3 main goal:
					h2.fragment do <strong>not</strong> burn out again
					h3.fragment while also growing myself

				section
					h1 does it sound "selfish"?

				section
					h1 well, actually...
					h2.fragment it's <strong>healthy egotism</strong>!
					h3.fragment my goals are aligned with the greater goals: achieving them means we all get better

				section
					h2 EXCLUSIVE: how to avoid burn out by practising healthy egotism
					
				section
					h1 <strong>1</strong> Know yourself

				section
					h2 Much talk about performance and benchmarks
					h2.fragment None about<br /> our own indicators
					h3.fragment "Take more coffee! More painkillers! <strong>Work harder!</strong>"

				section
					h2 But the work you do when you're tired<br /><strong>is subpar</strong>

				section
					h2 There's only so much code you can write<br />per day
					h3.fragment Take a break, and<br />move onto something else

				section
					h2 Writing code every day doesn't make you a better programmer
					h3.fragment It turns writing software<br />into a chore

				section
					h3 You let your muscles recover<br />after exercising
					h2.fragment Why don't you let your brain recover too?

				section
					h2 I used to accept all speaking engagements
					h3.fragment "They are precious opportunities!"

				section
					h2 Or maybe just a<br />waste of time and energy
					h3.fragment I realised this when<br/>I stopped kidding myself

				section
					h2 What about<br />'the people limit'?
					h3.fragment or how much socialising and interacting can we endure?
				section
					h2 Absolutely draining<br />for introverts
					h3.fragment Open plan offices
					h3.fragment Pair programming
					h3.fragment Conference / meetup drinks
					h3.fragment ...

				section
					h3 I would be there and feeling miserable and wishing I was somewhere else

				section
					h2 turns out it's totally OK to not go to events
					h2.fragment it's OK to<br />work from home
					h2.fragment it's OK to not to pair program the whole day

				section
					h2 Sometimes you just<br />can't deal with people
					h1.fragment It's OK

				section
					h3 We all have limits
					h2 Acknowledging them<br />is essential

				section
					h1 <strong>2</strong> Take control

				section
					h3 You know how far you can go
					h2.fragment Time to set<br />your 'official limits'

				section
					h2 Official limits
					h3.fragment lower than your actual limits
					p.fragment room for incidentals and surprises

				section
					h3 If you're always 100% scheduled
					h2.fragment incidentals === OVERTIME

				section
					h2 Overtime is bad

				section
					h1 Overtime<br />is bad

				section
					h2 Learn to say 'no'
					h3.fragment and feel good about it
					p.fragment because you're going to be doing it a lot

				section
					h2 Set deliberate
					h1 'me time'
					h2 every week

				section
					h2 'me time' is unnegotiable

				section
					h3 "we always have to be productive"
					h3.fragment "me time is a precious extravagant indulgence"

				section
					h1 no

				section
					h2 'me time' is maintaining your mind and body

				section
					h2 it will feel weird to do it

				section
					h2 you will fight the guilt and the 'I should be doing something else' feelings

				section
					h2 but you need to remove the weeds and pests from your brain

				section
					h2 What do you do in your 'me time'?

				section
					h2 a) Listen to yourself

				section
					h2 How are you <strong>really</strong> feeling?
					h3.fragment Are you happy?
					h3.fragment Are you sad?
					h3.fragment Can you focus or are you distracted?

				section
					h2 And what about your body?
					h3.fragment How do you feel in it?
					h3.fragment How do your muscles feel?

				section
					h2 It's scary to ask yourself these questions
					h3.fragment it's normal to be scared

				section
					h2 b) <strong>deliberately</strong> treat yourself nicely
					h3.fragment AKA love thyself

				section
					h2 Loving yourself needn't cost a fortune
					h3.fragment ordinary stuff, lovingly done, is great

				section
					h2 e.g. cook yourself some food
					h3.fragment pay attention
					ul
						li.fragment the flavours
						li.fragment the textures
						li.fragment your nose
						li.fragment your rumbling stomach

				section
					h2 e.g. go for a walk in the park
					ul
						li.fragment how do your legs feel? 
							span.fragment and your knees? 
							span.fragment and your ankles? 
							span.fragment your toes?
						li.fragment can you hear birds? 
							span.fragment can you see them? 
							span.fragment do you know their names?
						li.fragment when was the last time you kicked fallen leaves?
						li.fragment isn't it great to feel all warm wrapped in your jacket?
						li.fragment what about a espresso when the walk is over? 
							span.fragment can you smell those flavours coffee experts talk about?

				section
					h2 if you forgot everything else while doing this:<br />you succeeded at<br />'me time'

				section
					h2 level up your 'me time':<br />
					h1.fragment go on holidays

				section
					h2 holidays = fallow

				section
					h2 holidays !==<br />a long week-end

				section
					h3 if you still remember what you were doing at work when holidays are over, you haven't <em>holidayed</em> enough

				section
					h3 whatever you do in your holidays<br />is up to you, but
					h2.fragment it must <strong>make you feel good</strong>, and not stress you
				section
					h2 things that have worked for me:
					ul
						li.fragment going to warm places when it's miserable in London
						li.fragment travelling alone
						li.fragment 6-7 days trips
						li.fragment the occasional fancy hotel
						li.fragment staycations

				section
					h2 things that haven't worked for me:
					ul
						li.fragment going to cold places (unless it's Iceland)
						li.fragment travelling with friends
						li.fragment visiting family
						li.fragment 7+ day trips

				section
					h2 this is trial and error
					h3.fragment what works for me<br />might not work for you
					h3.fragment what works for me today<br />might not work tomorrow
					h1.fragment "YMMV"

				section
					h3 Suppose you're taking care of yourself and you're de-stressed and in a good position in life
					h2.fragment you're now ready to...

				section
					h1 <strong>3</strong> Listen to, understand and believe others

				section
					h2 Most of the things I suggested are just<br /><strong>plain impossible</strong> to do for many people

				section
					h3 many people can't 'just say no'
					h3.fragment or they can't 'just work less'
					h3.fragment or have 'me time'
					h3.fragment let alone take a holiday

				section
					h2 Checking your privilege
					h3.fragment It can be brutal to do, but <strong>it is absolutely necessary</strong> if we don't want to become the pests in the ecosystem

				section
					h1 <strong>4</strong> Spread the good

				section
					h2 Contributing back to the community === reinvesting the surplus back into the system

				section
					h2 Workshops stress me
					h2.fragment 1:1 mentoring is great!
					h3.fragment YMMV (again)

				section
					h2 Every mentorship is different, as are individuals

				section
					h2 Stepping aside
					h3.fragment Success === my mentee takes my space and is successful
					p.fragment e.g. I mentored two women in public speaking

				section
					h2 'Just' listening to someone
					h3.fragment It is actually bloody hard
					h3.fragment But it can be so incredibly encouraging and comforting!

				section
					h2 Delegating to others
					h3.fragment Again, bloody hard. But...
					ul
						li.fragment code writing is iterative
						li.fragment no one gets it right from the start
						li.fragment new people's questions will challenge your ways
						li.fragment check you're not doing things out of habit
						li.fragment it's simply great to help others learn new skills!

				section
					h3 <em>mentor-mentee</em> bonds are stronger and healthier than <em>idol-admirer</em> relationships
					h2.fragment Good mentoring facilitates tightly knit networks

				section
					h1 We need more mentors,<br />and less rockstars and ninjas

				section
					img(src='data/imgs/celebritiiiies.png', class='stretch')
					h3 thanks, @ag_dubs &lt;3

				section
					h2 Recap
					ol.fragment
						li Know yourself
						li Take control
						li Listen to, understand and believe others
						li Spread the good
				
				section
					h2 I'm still not perfect<br />at this
					ul
						li.fragment I still tend to overcommit, although it's for really cool things
						li.fragment I'm getting good at saying no, and not having any FOMO
						li.fragment also I'm much better at noticing when I'm not OK and I'll cancel things ruthlessly to take care of myself

				section
					h1 "Reading list"
					ul
						li.fragment Lena Reinhard's "This is bigger than us" (jsconf.eu 2014) and  "A talk about nothing" (concat 2015)
						li.fragment Anika Lindtner "How you can fix your community in one day" (jsconf.bp 2015)
						li.fragment "The Accidental Creative" by Todd Henry
						li.fragment Kassandra Perch's and Ed Finkler's talks from yesterday were a-ma-zing and discussed many aspects I mentioned too
			
				section
					h1 Thanks &lt;3
					h2 @supersole

